html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #84ccc1;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 24px;
	color: #022f32;
}


a:hover {
	text-decoration: none;
}

header {
	padding: 30px;
}

input {
	border: #087070 1px solid;
	border-radius: 2px;
	font-size: 24px;
	width: 30px;
}

.leftcol {
	float:left;
	width: 240px;
	height: 100%;
	padding: 30px;
	background-color: #ee514a;
	color: #fff;
}

	.leftcol__link {
		color: #fff;
		display: block;
		margin: 8px 0;
}

.content-wrapper {
	padding-left: 300px;
	text-align: center;
}

.content {
	width: 80%;
	margin: auto;
	background-color: #fff;
	border-radius: 4px;
	padding: 20px;
}
