
/* кнопки */
.btn_main {
	background-color: #F08F8B;
	padding: 8px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
}
.pink .btn_main {
	background-color: #8B9FF0;
}

/* обертка */
.head {
	margin: auto;
	width: 90%;
	padding: 10px 20px;
}

.content {
	width: 90%;
}

.step {
	display: none;
}

.card {
	cursor: pointer;
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 3px;
}

.pink {
	background-color: #f49ac1;
}

.blue {
	background-color: #00bff3;
}

.yellow {
	background-color: #fff799;
}